.container {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    margin-top: 71px;
    gap: 300px;
    padding-bottom: 150px;
}
.backgroundImage{
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80vw;
    height: 30vh;
    background-color: #333C45;
    z-index: 1;
}
.highlight{
    color: var(--highlight-color);
}
.title{
    font-weight: 600;
    font-size: 64px;
}
.secondaryHeader{
    color: var(--secondary-header-color);
    text-transform: uppercase;
}
.text{
    display: flex;
    font-size: 14px;
    font-weight: 300;
    color: var(--text-color);
}
.textContainer{
    display: flex;
    flex-direction: column;
}
.column{
    position: relative;
    display: flex;
    flex-direction: column;
}
.image{
    width: 100%;
    height: 100%;
    background-color: var(--highlight-color);
}
.heroBlock{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    background-color: transparent;
    z-index: 2;
    padding: 0 50px 0 25px;
}
.heroBlock .title{
    width: 80%;
    text-transform: uppercase;
}
.heroBlock .text{
    align-self: flex-end;
    width: 50%;
}
/* Affiliate */
.affiliateBlock{
    display: flex;
    flex-direction: row;
    z-index: 2;
}
.affiliateBlock .column:first-child{
    width: 60%;
    height: 600px;
}
.affiliateBlock .column:nth-child(2){
    width: 40%;
    padding-top: 100px;
}
.affiliateBlock .title:first-child{
    position: relative;
    left: -100px;
}
.affiliateBlock .title:nth-child(2){
    position: relative;
    left: -50px;
}
.affiliateBlock .text{
    margin-top: 20px;
    padding-left: 20px;
}
/* Affiliate Project */
.affiliateProject{
    display: flex;
    flex-direction: column;
    z-index: 2;
    align-items: flex-end;
}
.affiliateProject .secondaryHeader, .affiliateProject .title{
    width: fit-content;
    text-align: right;
}
.affiliateProject .text{
    text-align: right;
    width: 60%;
}
.affiliateProject .imageContainer{
    margin-top: 25px;
    display: flex;
    align-self: flex-start;
    width: 65%;
    height: 500px;
}
/* Social Media */
.socialMedia{
    position: relative;
    flex-direction: row;
    width: 100%;
    z-index: 2;
    min-height: 600px;
}
.socialMedia .column:first-child{
    position: absolute;
    width: 50%;
    height: 600px;
    z-index: 2;
}
.socialMedia .column:nth-child(2){
    position: absolute;
    right: 0;
    width: 70%;
    padding-top: 50px;
}
.socialMedia .imageContainer{
    display: flex;
    width: 100%;
    height: 500px;
}
/* Streaming Solutions */
.streamingSolutions{
    display: flex;
    flex-direction: column;
    align-items: center;    
    z-index: 2;
    gap: 50px;
}
.streamingSolutions .textContainer{
    width: 50%;
}
.streamingSolutions .imageContainer{
    width: 100%;
    height: 400px;
}
/* Startup Incubator */
.startupIncubator{
    display: flex;
    flex-direction: row;
    z-index: 2;
}
.startupIncubator .column:first-child{
    width: 60%;
}
.startupIncubator .column:nth-child(2){
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.startupIncubator .text{
    position: relative;
    left: -50px;
}
.startupIncubator .imageContainer{
    display: flex;
    width: 100%;
    height: 400px;
}