.container {
    position: relative;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    margin-top: 71px;
    gap: 300px;
    max-width: 1600px;
    z-index: 2;
    /* background-image: url(/images/lines.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 30%;
    background-position-x: 50%; */
}
.backgroundImage{
    position: fixed;
    top: 35%;
    left: 10%;
    width: 80vw;
    height: 30vh;
    background-color: #333C45;
    z-index: 1;
    background-image: url(/images/lines.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 200%;
    overflow: hidden;
    background-position: center;
}
.highlight{
    color: var(--highlight-color);
}
.title{
    font-weight: 600;
    font-size: 64px;
}
.secondaryHeader{
    color: var(--secondary-header-color);
    text-transform: uppercase;
}
.text{
    display: flex;
    font-size: 18px;
    font-weight: 300;
    color: var(--text-color);
}
.textContainer{
    display: flex;
    flex-direction: column;
}
.column{
    position: relative;
    display: flex;
    flex-direction: column;
}
.imageContainer{
    position: relative;
}
.imageBg{
    width: 100%;
    height: 100%;
    background-color: var(--highlight-color);
}
.image{
    position: absolute;
    bottom: 20px;
}
.scrollDownContainer{
    position: fixed;
    z-index: 999;
    bottom: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.scrollDown{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    width: fit-content;
}
.scrollDown div{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid var(--text-color);
}
.scrollDown span{
    font-size: 18px;
    font-weight: 200;
    color: var(--text-color);
}
.scrollToTop{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotateZ(180deg);
    height: 40px;
    width: 40px;
    border: 1px solid var(--secondary-header-color);
    border-radius: 100%;
    left: calc(50% - 20px);
    bottom: 25px;
    z-index: 999;
    cursor: pointer;
}
/* Hero Block */
.heroBlock{
    display: flex;
    flex-direction: column;
    margin-top: 20vh;
    background-color: transparent;
    /* z-index: 2; */
    padding: 0 50px 0 25px;
    scroll-snap-align: center;
}
.heroBlock .title{
    width: 80%;
    text-transform: uppercase;
}
.heroBlock .text{
    align-self: flex-end;
    width: 50%;
}
@media screen and (max-width: 1440px){
    .heroBlock .title{
        width: 90%;
    }
}
@media screen and (max-width: 1024px){
    .heroBlock .title{
        width: 100%;
        font-size: 48px;
    }
    .heroBlock .text{
        width: 80%;
    }
    .heroBlock{
        gap: 50px;
    }
}
@media screen and (max-width: 768px){
    .heroBlock .title{
        width: 100%;
        font-size: 36px;
    }
    .heroBlock .text{
        width: 80%;
    }
    .heroBlock{
        gap: 50px;
    }
}
/* Affiliate Project*/
.affiliateProject{
    display: flex;
    flex-direction: row;
    /* z-index: 2; */
    scroll-snap-align: center;  
}
.affiliateProject .secondaryHeader{
    position: relative;
    left: -100px;
    top: -50px;
}
.affiliateProject .column:first-child{
    width: 60%;
    height: 600px;
}
.affiliateProject .column:nth-child(2){
    width: 40%;
    /* padding-top: 100px; */
}
.affiliateProject .title:nth-child(2){
    position: relative;
    left: -100px;
    top: -50px;
}
.affiliateProject .title:nth-child(3){
    position: relative;
    left: -50px;
    top: -80px;
}
.affiliateProject .text{
    position: relative;
    top: -50px;
    padding-left: 20px;
}
/* Affiliate */
.affiliateBlock{
    display: flex;
    flex-direction: column;
    /* z-index: 2; */
    align-items: flex-end;
    scroll-snap-align: center;

}
.affiliateBlock .imageBg{
    background-color: #729CA2;
}
.affiliateBlock .image{
    left: 100px;
}
.affiliateBlock .secondaryHeader, .affiliateProject .title{
    width: fit-content;
    text-align: right;
}
.affiliateBlock .text{
    text-align: right;
    width: 50%;
}
.affiliateBlock .imageContainer{
    margin-top: 70px;
    display: flex;
    align-self: flex-start;
    width: 65%;
    height: 500px;
}
/* Social Media */
.socialMedia{
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* z-index: 2; */
    min-height: 600px;
    scroll-snap-align: center;
}
.socialMedia .imageBg{
    background-color: #bd682f;
}
.socialMedia .column:first-child{
    position: absolute;
    width: 50%;
    height: 600px;
    z-index: 2;
}
.socialMedia .column:nth-child(2){
    position: absolute;
    right: 0;
    width: 70%;
    padding-top: 50px;
}
.socialMedia .imageContainer{
    display: flex;
    width: 100%;
    height: 500px;
}
@media screen and (max-width: 768px){
    .socialMedia .column:first-child{
        width: 60%;
    }
    .socialMedia .column:nth-child(2){
        width: 80%;
    }
}
/* Streaming Solutions */
.streamingSolutions{
    display: flex;
    flex-direction: column;
    /* z-index: 2; */
    gap: 120px;
    overflow: hidden;
    scroll-snap-align: center;

}
.streamingSolutions .imageBg{
    background-color: #729CA2;
}
.streamingSolutions .textContainer{
    width: 50%;
    align-self: center;
}
.streamingSolutions .imageContainer{
    width: 40%;
    height: 400px;
}
@media screen and (max-width: 1024px){
    .streamingSolutions .textContainer{
        width: 90%;
    }
    .streamingSolutions .imageContainer{
        width: 100%;
        height: 300px;
    }
}
@media screen and (max-width: 768px){
    .streamingSolutions .textContainer .title{
        font-size: 48px;
    }
}
/* Startup Incubator */
.startupIncubator{
    display: flex;
    flex-direction: row;
    /* z-index: 2; */
    overflow: hidden;
    scroll-snap-align: center;

}
.startupIncubator .imageBg{
    background-color: #bd682f;
}
.startupIncubator .column:first-child{
    width: 60%;
}
.startupIncubator .column:first-child .imageContainer{
    margin-top: 120px;
}
.startupIncubator .column:nth-child(2){
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.startupIncubator .text{
    position: relative;
    left: -50px;
}
.startupIncubator .imageContainer{
    display: flex;
    width: 100%;
    height: 400px;
}
@media screen and (max-width: 768px){
    .startupIncubator .column:first-child{
        width: 70%;
    }
    .startupIncubator .column:nth-child(2){
        width: 30%;
    }
    .startupIncubator .title{
        font-size: 48px;
    }
}
/* Projects */
.projects{
    display: flex;
    flex-direction: row;
    /* z-index: 2; */
    gap: 50px;
    scroll-snap-align: center;

}
.projects .imageBg{
    background-color: #424a52;
}
.projects .column{
    flex: 1;
    justify-content: center;
}
.projects .imageContainer{
    width: 100%;
    height: 400px;
}
/* Contact Us */
.contactUs{
    display: flex;
    flex-direction: row;
    /* z-index: 2; */
    gap: 20px;
    scroll-snap-align: center;
}
.contactUs .column{
    flex: 1;
}
.contactUs .column:first-child{
    gap: 150px;
}
.contactUs .imageContainer{
    width: 100%;
    cursor: pointer;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.contactItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.contactItem .secondaryHeader{
    text-transform: capitalize;
    font-weight: 300;
    font-size: 14px;
}
.contactItem .text{
    color: white;
}
.contactUs .imageBg{
    background-color: #424a52;
}
.contactUs .column:nth-child(3){
    gap: 15px;
}
.contactUs .column:nth-child(3) .title{
    font-size: 24px;
}
.contactUs .column:nth-child(3) a{
    font-size: 16px;
    color: var(--secondary-header-color);
    text-decoration: none;
    cursor: pointer;
}
.contactUs .image{
    top: 0;
    right: 0;
    position: relative;
}
.contactUs .imageContainer:hover:after{
    content: 'Cyprus, Limassol, 36 Agias Fylaxeos, 3rd Floor';
    position: absolute;
    width: 305px;
    top: 50%;
    left: calc(50% - 305px / 2);
    font-weight: 100;
    color: var(--text-color);
    animation: fadeIn 0.5s;
}
.contactUs .imageContainer:hover:before{
    content: url(/icons/map_pin.svg);
    position: absolute;
    top: 45%;
    left: 50%;
    height: 20px;
    width: 20px;
    font-weight: 100;
    z-index: 2;
    animation: fadeIn 0.5s;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }   
}