.container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 25px;
    padding-bottom: 25px;
    z-index: 999;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}

.logo {
    position: relative;
    font-size: 18px;
    font-weight: 300;
}