html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: var(--background-color);
    color: white;
}
:root{
    --background-color: #2B3239;
    --header-color: white;
    --secondary-header-color: #729CA2;
    --text-color: #B8C9CB;
    --highlight-color: #7F3FFC;
}