html,
body {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: Titillium Web;
    font-weight: 400;
    background-color: var(--background-color);
    color: white;
    scroll-snap-type: y proximity;
    scroll-behavior: smooth;
}
@media screen and (min-width: 2560px) {
    html,
    body {
        display: flex;
        justify-content: center;
    }    
}
@font-face {
    font-family: 'Titillium Web';
    src: url(/fonts/TitilliumWeb-ExtraLight.ttf);
    font-weight: 200;
}
@font-face {
    font-family: 'Titillium Web';
    src: url(/fonts/TitilliumWeb-Light.ttf);
    font-weight: 300;
}
@font-face {
    font-family: 'Titillium Web';
    src: url(/fonts/TitilliumWeb-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Titillium Web';
    src: url(/fonts/TitilliumWeb-SemiBold.ttf);
    font-weight: 600;
}
@font-face {
    font-family: 'Titillium Web';
    src: url(/fonts/TitilliumWeb-Bold.ttf);
    font-weight: 700;
}
:root{
    --background-color: #2B3239;
    --header-color: white;
    --secondary-header-color: #729CA2;
    --text-color: #B8C9CB;
    --highlight-color: #7F3FFC;
}
h1, h2, h3, h4, h5{
    margin: 0;
}